.bow-preishoheit-settings {
    .sw-card {
        margin-bottom: 20px;

        &__actions {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
