{% block bow_preishoheit_settings %}
    <div class="bow-preishoheit-settings">
        <sw-card :title="$tc('bow-preishoheit.settings.cardTitle')" :isLoading="isLoading">
            <sw-container columns="2fr 2fr" gap="0px 30px">
                <sw-field
                    type="switch"
                    :label="$tc('bow-preishoheit.detail.labelActive')"
                    v-model="product.active">
                </sw-field>
            </sw-container>

            <sw-container columns="2fr 2fr" gap="0px 30px">
                <sw-field
                    type="number"
                    :label="$tc('bow-preishoheit.detail.labelSurcharge')"
                    v-model="product.surchargePercentage"
                    :placeholder="$tc('bow-preishoheit.detail.placeholderSurcharge')"
                    :suffix="'%'">
                </sw-field>
            </sw-container>

            <sw-container class="bow-preishoheit-settings__actions">
                <sw-button-process
                    :isLoading="isUpdating"
                    variant="primary"
                    @click="onManualUpdate">
                    {{ $tc('bow-preishoheit.settings.buttonManualUpdate') }}
                </sw-button-process>
            </sw-container>
        </sw-card>
    </div>
{% endblock %}
