.bow-preishoheit-product-grid {
    .sw-card {
        margin-bottom: 20px;
    }

    .sw-entity-listing {
        .sw-data-grid__cell {
            vertical-align: middle;
        }

        .sw-switch-field {
            margin-bottom: 0;
        }
    }
}
