{% block bow_preishoheit_product_grid %}
    <div class="bow-preishoheit-product-grid">
        <sw-card :title="$tc('bow-preishoheit.list.productSelectionTitle')" :isLoading="isLoading">
            <template #grid>
                <sw-entity-listing
                    :items="availableProducts"
                    :columns="columns"
                    :repository="productRepository"
                    :showSettings="true"
                    :showSelection="true"
                    :allowInlineEdit="true"
                    :isLoading="isLoading"
                    :sortBy="sortBy"
                    :sortDirection="sortDirection"
                    :naturalSorting="true"
                    :page="page"
                    :limit="limit"
                    :total="total"
                    @selection-change="onSelectionChange"
                    @inline-edit-save="onInlineEditSave"
                    @page-change="onPageChange"
                    @search-term-change="onSearch"
                    @sort-column="onSort">
                </sw-entity-listing>
            </template>

            <template #footer>
                <sw-button-process
                    :isLoading="isLoading"
                    variant="primary"
                    :disabled="!selectedProducts.length"
                    @click="onAddProducts">
                    {{ $tc('bow-preishoheit.list.buttonAddProducts') }}
                </sw-button-process>
            </template>
        </sw-card>
    </div>
{% endblock %}
