.bow-preishoheit-bulk-edit {
    .sw-card {
        margin-bottom: 20px;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 16px;
    }

    &__processing-status {
        padding: 24px;
        text-align: center;

        .sw-progress-bar {
            margin-bottom: 16px;
        }
    }

    &__form {
        max-width: 600px;
        margin: 0 auto;

        .sw-field {
            margin-bottom: 24px;
        }
    }

    &__footer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        margin-top: 24px;
    }

    .sw-data-grid {
        .sw-data-grid__cell--selection {
            width: 42px;
        }
    }
}
