{% block bow_preishoheit_detail %}
    <sw-page class="bow-preishoheit-detail">
        {% block bow_preishoheit_detail_smart_bar_header %}
            <template #smart-bar-header>
                <h2 v-if="product && product.product">{{ product.product.name }}</h2>
                <h2 v-else>{{ $tc('bow-preishoheit.detail.noProductLoaded') }}</h2>
            </template>
        {% endblock %}

        {% block bow_preishoheit_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button-process
                    :isLoading="isLoading"
                    :processSuccess="isSaveSuccessful"
                    variant="primary"
                    @process-finish="isSaveSuccessful = false"
                    @click="onSave">
                    {{ $tc('global.default.save') }}
                </sw-button-process>
            </template>
        {% endblock %}

        {% block bow_preishoheit_detail_content %}
            <template #content>
                <sw-card-view>
                    {% block bow_preishoheit_detail_content_tabs %}
                        <sw-tabs class="bow-preishoheit-detail-tabs">
                            <sw-tabs-item
                                :route="{ name: 'bow.preishoheit.detail.settings', params: { id: productId } }"
                                :title="$tc('bow-preishoheit.detail.tabSettings')">
                            </sw-tabs-item>

                            <sw-tabs-item
                                :route="{ name: 'bow.preishoheit.detail.history', params: { id: productId } }"
                                :title="$tc('bow-preishoheit.detail.tabHistory')">
                            </sw-tabs-item>

                            <sw-tabs-item
                                :route="{ name: 'bow.preishoheit.detail.errors', params: { id: productId } }"
                                :title="$tc('bow-preishoheit.detail.tabErrors')">
                            </sw-tabs-item>

                            <sw-tabs-item
                                :route="{ name: 'bow.preishoheit.detail.api-config', params: { id: productId } }"
                                :title="$tc('bow-preishoheit.detail.tabApiConfig')">
                            </sw-tabs-item>
                        </sw-tabs>
                    {% endblock %}

                    {% block bow_preishoheit_detail_content_view %}
                        <router-view :product="product" @refresh="loadData"></router-view>
                    {% endblock %}
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
