{% block bow_preishoheit_list %}
    <sw-page class="bow-preishoheit-list">
        {% block bow_preishoheit_list_smart_bar_header %}
            <template #smart-bar-header>
                <h2>{{ $tc('bow-preishoheit.list.title') }}</h2>
            </template>
        {% endblock %}

        {% block bow_preishoheit_list_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button variant="primary" @click="refreshList">
                    {{ $tc('global.default.refresh') }}
                </sw-button>
            </template>
        {% endblock %}

        {% block bow_preishoheit_list_content %}
            <template #content>
                <sw-entity-listing
                    :items="products"
                    :columns="productColumns"
                    :repository="repositoryFactory.create('bow_preishoheit_product')"
                    :isLoading="isLoading"
                    @refresh="refreshList"
                >
                    <template #empty-state>
                        <sw-empty-state
                            title="{{ $tc('bow-preishoheit.list.emptyStateTitle') }}"
                            subtitle="{{ $tc('bow-preishoheit.list.emptyStateSubtitle') }}"
                        />
                    </template>
                </sw-entity-listing>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}